.el-dialog__footer {
  margin-top: 0;  
}

.el-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 100%;
  overflow-y: auto;
  transform: translateX(-50%) translateY(-50%);
}

.el-dialog::-webkit-scrollbar {
  width: 12px; /* 滚动条宽度 */
}

.el-dialog::-webkit-scrollbar-track {
  background: #f5f5f5; /* 滚动条轨道背景 */
  border-radius: 6px;
}

.el-dialog::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* 滚动条滑块颜色 */
  border: 3px solid #f5f5f5; /* 滑块周围的边框颜色 */
  border-radius: 6px;
}

.el-dialog::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* 滚动条滑块悬停颜色 */
}