# 安装源
registry = "https://registry.npmmirror.com"
# 进度
progress = "fancy"
# ⚠️ 禁止依赖提升
store-dir = "./.pnpm-store"
# 如果启用了此选项，那么在依赖树中存在缺失或无效的 peer 依赖关系时，命令将执行失败
strict-peer-dependencies=false
# 强制要求包管理器严格检查依赖声明
package-manager-strict=true
# 禁止访问为声明的依赖（确保子包不会访问顶层依赖）
shamefully-hoist=false
# 任何缺少的非可选对等依赖项都会自动安装
auto-install-peers=true
# 减少重复项
dedupe-peer-dependents=true
# 如果启用此选项，本地可用的软件包将链接到node_modules，而不是从注册表下载。这是非常方便的一个 monorepo。如果您需要本地包也链接到子依赖项，您可以使用deep设置。
link-workspace-packages=deep
# 禁用git检查
git-checks=false
# 发布的是，公共包
access=public


# pnpm 补丁
# public-hoist-pattern[]=*
# 如果使用 pnpm v8+
# patches[]=./patches/*.patch

# node-linker=hoisted
