span {
    display: inline-block;
}
.iconfont.micro-iconfont-rotate {
    transform: rotate(var(--micro-iconfont-rotate));
}

.iconfont.micro-iconfont-continuous-rotate {
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.iconfont {
    transition: transform 0.3s ease-in-out; /* 添加平滑的过渡效果 */
}

.iconfont.micro-iconfont-overturn-hover:hover {
    transform: scale(1.2); /* 鼠标悬停时放大图标容器 */
}