#storybook-docs > .sbdocs-wrapper {
  padding: 20px 32px;
}

#storybook-docs .sbdocs-title {
  display: none;
}

#storybook-docs .sbdocs-content div:last-child {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}