/**
可以不要这个
 */
:focus-visible {
    outline-color: #409eff; /* 自定义轮廓颜色 */
    outline-style: dashed; /* dashed 自定义轮廓样式  auto 跟随浏览器的轮廓 */
    outline-width: 0px; /* 自定义轮廓宽度 */
}

::v-deep(.el-icon) {
    font-size: 16px;
    cursor: pointer;
}