/**
可以不要这个
 */
:focus-visible {
    outline-color: #409eff; /* 自定义轮廓颜色 */
    outline-style: dashed; /* dashed 自定义轮廓样式  auto 跟随浏览器的轮廓 */
    outline-width: 0; /* 自定义轮廓宽度 */
}

::v-deep(.el-icon) {
    font-size: 16px;
    cursor: pointer;
}

::v-deep(.el-dropdown-menu__item) {
    padding: 0;
    border-bottom: 1px solid #dcdfe6;
}

::v-deep(.el-button){
    border: 0;
}

::v-deep(.el-dropdown-menu__item .el-button){
}

::v-deep(.el-dropdown-menu__item:last-child) {
    border: 0;
}