/**
 * CSS 自定义属性（变量）
 * https://developer.mozilla.org/zh-CN/docs/Web/CSS/Using_CSS_custom_properties
 */
:root {
    --micro-style-text-font-size: 14px;

    --micro-style-theme: rgb(46, 105, 210);
    --micro-style-theme-background: rgb(242,242,242);
    --micro-style-error: rgb(220, 54, 46);
    --micro-style-mark-background: rgb(252,235,235);
}