/**
 * CSS 自定义属性（变量）
 * https://developer.mozilla.org/zh-CN/docs/Web/CSS/Using_CSS_custom_properties
 */
:root {
    --micro-style-line-color: #dcdfe6;
    --micro-style-text-font-size: 14px;
    --micro-style-base-border-radius: 0;
}