@import url('./root.css');

/* a 标签 */
/*未访问的链接颜色*/
a:link {
    color: var(--micro-style-theme);
}
/*已访问的链接颜色*/
a:visited {
    color: var(--micro-style-theme);
}
/*鼠标移动到链接的颜色*/
a:hover {
    text-decoration: underline;
    color: var(--micro-style-theme);
}
/*鼠标点击时的颜色*/
a:active {
    color: var(--micro-style-theme);
}
/*去掉下划线*/
/* a {
    text-decoration: none;
} */

/* code 标签 */
code {
    padding: 0.1rem 0.2rem;
    /* border-width: 0.2625rem 0.0625rem 0.1875rem;
    border-style: solid; */
    border-color: var(--micro-style-theme-background);
    border-radius: 0.2rem;
    background-color: var(--micro-style-theme-background);
    line-height: 1;
    font-family: var(--micro-style-font-family);
    font-weight: 700;
    color: var(--micro-style-theme);
    border-image: initial;
}

/* del 标签 */
del {
    position: relative;
    text-decoration: none;
    color: inherit; /* 保持文本颜色不变 */
}
del::after {
    content: '';
    position: absolute;
    bottom: 0.8ex; /* 调整删除线位置 */
    left: 0;
    background-color: var(--micro-style-error); /* 删除线的颜色 */
    width: 100%;
    height: 1px; /* 删除线的高度 */
}

/* mark 标签 */
mark {
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
    background-color: var(--micro-style-mark-background);
    line-height: 1;
    font-family: var(--micro-style-font-family);
}