/* stylelint-disable order/properties-order */

/* FIX 取消 ElButton 点击后的状态，那个状态很讨厌 */
.el-button:active {
  border-color: var(--el-button-active-border-color) !important;
  outline: none;
}

.el-button:focus {
  color: var(--el-button-text-color);
  background-color: var(--el-button-bg-color);
  border-color: var(--el-button-border-color);
}

.el-button:hover {
  color: var(--el-button-hover-text-color);
  background-color: var(--el-button-hover-bg-color);
  border-color: var(--el-button-hover-border-color);
}

.el-button {
  border-radius: 0;
}